@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1a56db;
  --secondary-color: #10b981;
}

body {
  @apply bg-gray-50 text-gray-900;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
} 